@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0px;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
.card-container{
    
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 12%);
    padding: 2.5rem 0rem;
    border-radius: 1rem;
}
.card-container, .card-buttons, .user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-image{
    width: 5rem;
    border-radius: 5rem;
}

.card-buttons{
    gap: 20px;
}

.btn{
    color: white;
    border: none;
    background-color: hsl(0, 0%, 20%);
    width: 20rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.location-text{
    font-size: 0.8rem;
    font-weight: bold;
    color: hsl(75, 94%, 57%);
}

.user-information{
    line-height: 1rem;
}

.user-job-text{
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
}